<div class="fill-parent covid-container">
    <div class="covid-header">
        <span class="mat-typography covid-title-text"><strong>US Covid-19 Status</strong> (based on New York Times Github dataset)</span><br>
        <span class="mat-typography covid-title-text"><strong>Latest update:</strong> {{lastUpdated()}}</span>
        <span class="mat-typography covid-title-text"><strong>Total cases in US:</strong> {{totalCases()}}</span>
    </div>

    <div class="covid-state-selection">
        <mat-form-field style="margin-left: 20px;">
            <mat-label>Select State</mat-label>
            <mat-select (selectionChange)="onStateSelected()" [(value)]="state">
                <mat-option *ngFor="let item of statesList()" [value]="item">
                    {{item.state}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <span class="mat-typography" style="margin-left: 20px;"
              [hidden]="state === null"><strong>Total cases in {{getState()}}:</strong> {{casesForState()}}</span>
        <span class="mat-typography" style="margin-left: 20px;"
              [hidden]="state === null"><strong>Total deaths in {{getState()}}:</strong> {{deathsForState()}}</span>
    </div>

    <app-barchart class="covid-chart" *ngIf="chartData.length > 0" [data]="chartData"></app-barchart>
</div>
