.covid-container {
    display: flex;
    flex-direction: column;
}

.covid-header {
    background: darkblue;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}

.covid-title-text {
    font-size: 18px;
    color: white;
    margin-right: 20px;
    margin-left: 10px;
}

.covid-state-selection {
    height: 70px;
    background: lightgray;
    width: 100%;
    display: flex;
    align-items: center;
}

.covid-chart {
    width: 100%;
    height: calc(100% - 130px);
    display: flex;
    align-items: center;
    justify-content: center;
}
