<div class="corona-container">
    <span class="mat-typography" style="margin-right: 20px;">{{lastUpdated()}}</span>

    <span class="mat-typography" style="margin-right: 20px;">{{totalCases()}}</span>

    <mat-form-field>
        <mat-label>Select State</mat-label>
        <mat-select (selectionChange)="onStateChanged()" [(value)]="state">
            <mat-option *ngFor="let item of listStates()" [value]="item">
                {{item.state}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <span class="mat-typography" style="margin-right: 20px;">{{currentCasesForState()}}</span>
</div>
