<div class="app-container">
    <div class="app-nav">
        <button mat-raised-button class="nav-button" (click)="router.navigate(['three'])">Three.js</button>
        <button mat-raised-button class="nav-button" (click)="router.navigate(['dynamic'])">Dynamic View</button>
        <button mat-raised-button class="nav-button" (click)="router.navigate(['other'])">Other</button>
        <button mat-raised-button class="nav-button" (click)="router.navigate(['corona'])">Corona</button>
    </div>
    <div style="height: 100%; width: 100%;">
        <router-outlet></router-outlet>
    </div>
</div>
