<div class="lead-location-container" (window:resize)="onResize()">
    <div class="lead-location-left-side">
        <div #containerDiv class="lead-location-left-top">
            <div [style.width.px]="width" [style.height.px]="height" class="lead-location-stl-container"></div>
            <div class="on-top-of-stl-container">
                <mat-icon>add</mat-icon>
            </div>
        </div>
        <div class="lead-location-left-bottom">
        </div>
    </div>
    <div class="lead-location-right-side">
    </div>
</div>
